@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

header {
    background-image: linear-gradient(to top, #993399, #e591e5);
    padding: 20px;
}

header > h1,
header > p {
    text-align: center;
}

nav {
    background-color: #993399;
    padding: 10px 0;
    text-align: center;
}

nav > a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

nav > a:hover {
    background-color: #662266;
    border-radius: 5px;
    padding: 10px;
}

.capa {
    background-image: linear-gradient(to right, #993399, #e591e5);
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 21px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* Evita que a altura da capa seja afetada por elementos filhos flutuantes. */
}

.capa > section {
    display: flex;
    justify-content: space-around;
}

.hentai,
.playboy {
    flex: 1;
    text-align: center;
}

.hentai > img,
.playboy > img {
    max-width: 100%; /* Certifica-se de que as imagens não ultrapassem a largura das seções */
    height: auto;
}

.hentai,
.playboy > h2 {
    margin-top: 10px; /* Adicionei um espaçamento entre as imagens e os títulos */
}

.column1,
.column2 {
    background-color: #993399;
    width: 100%;
    max-width: 550px;
    margin: 0 auto 21px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

.column1 > h2,
.column2 > h2 {
    text-align: center;
}

.categ {
    width: 100%;
    max-width: 100%;
    height: auto;
}

footer {
    background-image: linear-gradient(to right, #993399, #e591e5);
    text-align: center;
    padding: 20px;
}

footer > h2 {
    text-align: center;
}
