@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background-image: linear-gradient(to top, #993399, #e591e5);
    padding: 10px;
    color: white;
    text-align: center;
}

nav {
    background-color: #993399;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
nav>a:hover {
    background-color: #662266;
    border-radius: 5px;
    padding: 10px;
}

main {
    padding: 20px;
}

.capa {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hentai,
.playboy {
    flex: 1;
    max-width: 48%;
}

.hentai h2,
.playboy h2 {
    text-align: center;
    color: white;
    margin-top: 10px;
}

.hentai img,
.playboy img {
    width: 100%;
    
    border-radius: 5px;
}

.columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    background-color: #993399;
}
.articles-container article {
    flex: 0 0 calc(50% - 20px); /* Ocupa 50% da largura com um espaçamento de 20px entre os itens */
    margin-bottom: 20px;
    margin-right: 20px; /* Adiciona margem à direita para criar espaço entre os itens */
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    text-align: center;
    background-color: #993399;
    border-radius: 5px;
}

/* Limpa a margem do último item em cada linha */
.articles-container article:nth-child(2n) {
    margin-right: 0;
}

.column1,
.column2 {
    text-align: center;
   
}

.categ {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-image: linear-gradient(to top, #993399, #e591e5);
    padding: 10px;
    color: white;
    text-align: center;
}
